body {
	margin: 0;
	/*background-color: #e6e7e8 */
}

figure {
	margin: 0;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}


main {
  width: 90%;
	max-width: 70em;
	padding-top: 1em;
	margin: 0 auto;
}

#banner {
	width: 100%;
	margin: 0 auto;
}

.portfolio {
	padding-left: 0;
}

.instalogo {
	display: none;
	}

.linkedinlogo {
	display: none;
	}

.githublogo {
		display: none;
		}

.small-instalogo {
	width: 1.8em;
	height: auto;
	display: inline;
	margin-top: -2.2em;
	margin-left: 1.3em;
	margin-right: -1.2em;
	padding: 1em;

	}

.small-linkedinlogo {
	width: 1.4em;
	height: auto;
	display: inline;
	margin-top: -2.3em;
	padding: 1em;
	padding-bottom: 1.1em;
	}

	.small-githublogo {
		width: 1.6em;
		height: auto;
		display: inline;
		margin-top: -2.3em;
		padding: 1em;
		padding-left: .1em;
		padding-bottom: 1.15em;
		}

	.git-link {
		font-size: 1.2em;
		font-family: "Arial Narrow", "Arial", sans-serif;
		text-transform: uppercase;
		color: #df62a4;
		text-decoration: underline;
	}

.git-link:hover {
		color: #999;
		text-decoration: underline;
	}

.bio-title {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.02em;
	font-family: "Arial Narrow", "Arial", sans-serif;
	color: #df62a4;

}

.bio-pic {

	max-width: 20.5em;
}
.contact-me {
	font-family: "Arial", sans-serif;
	font-size: 1em;
	color: #999;
	line-height: 1.5em;
	text-decoration: underline
}

.contact-me:hover {
	color: #df62a4;
}

@media (min-width: 60em) {

.portfolio {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.8em;
	}

.port-grid {
		display: grid;
	  grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;
		}

.header-nav {
		position: absolute;
	z-index: 101;
}

main {
	padding-top: 4em;
}
	
	/* Colorize-zoom Container */
.preview-image img {
  transition: transform .5s, filter .7s ease-in-out;
  filter: grayscale(0);
filter: brightness(100%);
}

/* The Transformation */
.preview-image:hover img {
  filter: grayscale(100%);
filter: brightness(35%);
  transform: scale(1.1);
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
	
figure {
position: relative;
  float: left;
}
	
	figcaption {
	text-alight-center
	float: center;
	}
	
.preview-title {
position: absolute;
  float: center;
z-index: 100;
margin: auto;
}

	
.preview-title {
	transition: transform .5s, display .7s ease-in-out;
  	display: none;
}
	
.preview-title:hover {
	display: block;
}

.small-instalogo {
	display: none;
}

.small-linkedinlogo {
	display: none;
}

.small-githublogo {
	display: none;
}

.instalogo {
	width: 1.8em;
	height: auto;
	display: inline-block;
	float: right;
	padding-top: 0;
	margin-top: -3.7em;
	padding: 1em;
	margin-left: 0;
}

.linkedinlogo {
	width: 1.3em;
	height: auto;
	display: inline-block;
	float: right;
	margin-top: -3.5em;
	padding: 1em;
	margin-right: -1em;
}

.githublogo {
	width: 1.45em;
	height: auto;
	display: inline-block;
	float: right;
	margin-top: -3.55em;
	padding: 1em;
	margin-right: 1.3em;
}

}





.port-pre {
  max-width: 100%;
  height: auto;
margin: .;
box-shadow: 0 .2em .2em .0 rgba(0, 0, 0, .25);
overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}


.port-pre img {
  transition: transform .5s ease;
}

.port-pre:hover img {
  transform: scale(1.5);
}




figcaption {
	font-size: .8em;
	font-family: "Arial", sans-serif;
	font-weight: normal;
	color: #999;
	text-align: center;
	margin-bottom: 1.2em;
	margin-top: .6em;
	z-index: 100;
}

figure {
	display: inline-block;
	/*overflow: hidden;*/
}

row-col {
	display: inline-block;
}

a {
	text-decoration: none;
}

h3 {
	font-size: 2em;
	text-transform: uppercase;
	font-family: /*"Arial Narrow",*/ "Arial", sans-serif;
	/*font-weight: normal;*/
	color: #ddd;
	margin-top: .6em;
	padding-left: -1em;
	letter-spacing: 0.04em;
	text-align: center;
}

.titles {
	font-size: 1.4em;
	text-align: center;
}

.titles:hover {
	text-decoration: underline;
	color: #999;
	
}

h2 {

	font-family: "Arial Narrow", "Arial", sans-serif;
	color: #df62a4;
	font-size: 1.2em;
	margin-bottom: 0;
}

.description {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-left: 0;
	padding-left: 0;
}

.logo img {
	max-width: 18em;
	height: auto;
	padding-left: .6em;
}


.logo {
	max-width: 100%;
	height: auto;
	margin-left: 0;
	margin-bottom: 0em;
	margin-right: 1em;
	padding-top: 1em;
}

h1 {
	font-size: 1.2em;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #999;
}

.header-nav {
	margin-top: 0;
	background-color: #fff;
	opacity: .9;
	width: 100%;
}

.instalogo:hover {
	opacity: .7;
}

.linkedinlogo:hover {
	opacity: .7;
}

.githublogo:hover {
	opacity: .7;
}

.nav {
	display: inline;
	padding-top: .2em;
}

li {
  list-style: none;
  display: block;
  text-align: left;
}

.bags {
	max-width: 100%;
	height: auto;
	/*margin: .7em;*/

}




#contentinfo {
	margin-bottom: 1em;
	/*border: 1px solid #f00;*/
}

#contentinfo p {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: .7em;
	text-align: center;
	color: #999;
}

.row-col ul {
  list-style: none;
}

@media (min-width: 58em) {

	.logo {
		float: left;
		margin-top: 0;
	}

main {
	/*width: 100%;*/
	margin: 0 auto;
}



.nav {
	padding-right: 0;
}

.commencement {
	max-width: 50em;
	height: auto;
}

h6 {
	margin-bottom: 8em;
}

.topbutton a {
	margin-bottom: 2em;
}

}
/*
@media (max-width: 58em) {
 body {
	margin: 0 auto;
	width: 100%;
}
.port-pre {
	width: 100%;
	height: auto;
	margin: 0;
	}
main {
	margin: 0 auto;
	width: 100%;
	padding-top: 0;
}
h3 {
	margin-top: 1em;
	margin-bottom: 0;
	font-size: 1.4em;
}
h2 {
	font-size: 1em;
	margin-bottom: -.9em;
}
figcaption {
	padding-left: 0;
}
.bags {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
 	text-align: center;
	padding: 0;
}
.nav {
	margin: auto -1.1em;
	display: inline;
	margin-top: 0em;
	}
.nav a {
	font-size: .9em;
}
ul {
	background-color: #fff;
	padding-bottom: .5em;
	padding-top: 0em;
	margin-left: 0em;
}
header {
	position: static;
	top: 0;
	padding-top: 1em;
	background-color: #fff;
	width: 100%;
	margin-bottom: 0;
	}
}*/

nav {
	margin-top: 0;
}

ul {
	margin-left: 0em;
}

.nav {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: .8em;
	text-transform: uppercase;
	list-style: none;
	line-height: 2.5em;
	display: inline;
	margin-left: 1em;
	padding-right: 1.2em;
	margin-top: 0em;
	color: #999;
	letter-spacing: 0.02em;
}

.nav a {
	text-decoration: none;
	color: #999;
	border-bottom: 2px dashed transparent;
}

.nav a:hover {
	color: #df62a4;
	border-bottom: 2px solid #df62a4;
  transition: border-bottom-color .5s ease;
}

.nav a:active {
	color: #df62a4;
	border-bottom: 2px solid #df62a4;
}

/*Resume*/

#resume {
	max-width: 40em;
}

.resume-header {
	font-size: 1.3em;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	color: #000;
	margin-bottom: 1em;
	margin-top: 1em;
}

.resume-subheader {
	font-family: "Arial", sans-serif;
	font-size: 1em;
	color: #ea9c98;
	margin-bottom: .4em;
}

.varieties {
	position: absolute;
	}

.soon {
	font-family: "Helvetica-Light", sans-serif;
	font-size: 1.2em;
	color: #000;
	line-height: 1.5em;
	margin-left: 2.5em;
	max-width: 33em;
}



.award {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 1em;
	color: #000;
	list-style: none;
	line-height: 1.4em;
	margin-left: -2.5em;;
	padding-left: 0;
	margin-top: .5em;
}

.years {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #999;
	list-style: none;
	line-height: 1em;
	margin-left: -2.5em;
}


.description {
	font-family: "Arial", sans-serif;
	font-size: 1em;
	color: #999;
	line-height: 1.5em;
	/*margin-left: 2.5em;*/
	max-width: 40em;
}

h4 {
	font-family: "Arial Narrow", "Arial", sans-serif;
	margin-bottom: .7em;
	margin-top: -.4em;
}
.subs {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: 1em;
	color: #000;
	line-height: 1.2em;
	margin-top: -.5em;
}

.bio {
	font-family: "Helvetica-Light", sans-serif;
	font-size: 1.2em;
	color: #000;
	line-height: 1.5em;
	margin-left: 2.5em;
	max-width: 33em;
}

/*Back To Top*/

.topbutton {
	text-align: right;
	margin-bottom: 2em;
	margin-top: 1em;
}

.topbutton a {
	font-family:  "Arial Narrow", "Arial", sans-serif;;
	font-size: .9em;
	cursor: pointer;
	color: #df62a4;
	text-decoration: none;
	text-transform: uppercase;
}

.arrow {
	font-size: 1.2em;
	font-weight: bold;
	padding-left: .2em;
	bottom: .1em;
}

.topbutton a:hover {
	color: #666;
}
